<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <title>Start</title>
</head>

<body>
    <div class="sidebar" id="sidebar">
        <div>
            <i class="material-icons icon" id="menu-button">menu
                <span class="hidden">Меню</span>
            </i>
        </div>
        <div class="icons">
            <i class="material-icons icon" data-text="Дом">
                home
                <span class="hidden">Дом</span>
            </i>
            <i class="material-icons icon" data-text="Поиск">
                task
                <span class="hidden">Задачи</span>
            </i>
            <i class="material-icons icon" data-text="Уведомления">
                notifications
                <span class="hidden">Уведомления</span>
            </i>
            <i class="material-icons icon" data-text="Почта">
                event
                <span class="hidden">Сроки</span>
            </i>
        </div>
        <div>
            <i class="material-icons icon">
                settings
                <span class="hidden">Настройки</span>
            </i>
        </div>
    </div>

    <div class="mainBody">
        <div class="headbar">
            <div class="headname">
                <p>Get Started</p>
            </div>
            <div class="headicon">

            </div>
        </div>
        <div class="tile_can">
            <div class="grid-container">
                <div class="tOne"></div>
                <div class="tTwo"></div>
                <div class="tThree"></div>
                <div class="tFour"></div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/effects.js}"></script>
</body>

</html>